{
  "presets":
  [
    "env",
    "stage-1",
    "react",
    [
      "env",
      {
        "production": {
          "plugins": [
            "transform-react-remove-prop-types"
          ]
        },
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    ["webpack-alias", {"config": "./webpack.config.js"}]
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-class-properties",
        "dynamic-import-node"
      ]
    }
  }
}
