{
  "presets":
  [
    "es2015",
    "es2016",
    "es2017",
    "stage-1",
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 versions",
            "IE >= 9"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-runtime",
        "transform-class-properties"
      ]
    }
  }
}
