/**
 * React Redux Async starter kit
 * @author Marcos Gonçalves <marx_souza@yahoo.com.br>
 * @version 2.0.1
 */

//Base Colors
$primary:   #5caaff;
$secondary: #dfe6ec;
$warning:   #fdc800;
$danger:    #fb4d7b;

// Typography
$font-mono:        'Courier', monospace;
$font-sans:        'Source Sans Pro', Arial, sans-serif;
$font-serif:       'Bree Serif', Times, serif;
$base-font-color:   black;
$base-font-family: $font-sans;
$base-font-size:   16px;
$font-light:       200;
$font-normal:      400;
$font-semibold:    600;
$font-bold:        700;
$base-line-height: 1.5;
$headings:         (6, 5, 4, 3, 2, 1);



// Grid breakpoints - as seen in "~bootstrap/scss/_variables.scss"
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
        xs: 0,
        sm: 576,
        md: 768,
        lg: 992,
        xl: 1200
) !default;
