/**
 * React Adventure
 * @author Marcos Gonçalves <contact@themgoncalves.com>
 * @version 2.2.1
 */

//Base Colors & Palette
$colors: (
        primary:   #3D89F7,
        secondary: #dfe6ec,
        info:      #17a2b8,
        warning:   #fdc800,
        danger:    #fb4d7b,
        palette: (
                color1: rgba(5, 102, 141, 1),
                color2: rgba(2, 128, 144, 1),
                color3: rgba(0, 168, 150, 1),
                color4: rgba(2, 195, 154, 1),
                color5: rgba(240, 243, 189, 1),
                color6: #202B3A,
        )
) !default;

// Typography
$font-mono:        'Courier', monospace;
$font-sans:        'Source Sans Pro', Arial, sans-serif;
$font-serif:       'Bree Serif', Times, serif;
$base-font-color:   black;
$base-font-family: $font-sans;
$base-font-size:   16px;
$font-light:       200;
$font-normal:      400;
$font-semibold:    600;
$font-bold:        700;
$base-line-height: 1.5;
$headings:         (6, 5, 4, 3, 2, 1);


// Background Gradients
// Source uiGradients <https://uigradients.com/#eXpresso>
$gradients: (
        // Source <https://uigradients.com/#Mauve>
        mauve: (
              base-color: #42275a,
              gradient: linear-gradient(to right, #42275a, #734b6d)
        ),
        // Source <https://uigradients.com/#Royal>
        royal: (
                base-color: #141e30,
                gradient: linear-gradient(to right, #141e30, #243b55)
        ),
        // Source <https://uigradients.com/#Vanusa>
        vanusa: (
                base-color: #DA4453,
                gradient: linear-gradient(to right, #89216B, #DA4453)

        ),
        // Source <https://uigradients.com/#eXpresso>
        expresso: (
                base-color: #ad5389,
                gradient: linear-gradient(to right, #3c1053, #ad5389)

        ),
        // Source <https://uigradients.com/#DIMIGO>
        dimigo: (
                base-color: #ec008c,
                gradient: linear-gradient(to right, #ec008c, #fc6767)
        ),
        brady: (
              base-color: #00c3ff,
              gradient: linear-gradient(to right, #ffff1c, #00c3ff)
        )
) !default;


// Grid breakpoints - as seen in "~bootstrap/scss/_variables.scss"
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.
$grid-breakpoints: (
        xs: 0,
        sm: 576,
        md: 768,
        lg: 992,
        xl: 1200
) !default;
